.unselectable{ 
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none;  
	-ms-user-select: none; 
	user-select: none;
}

.ui-selected td { 
	background-color: #FEE068 !important;
} 
            
.ui-selecting td { 
	background-color: #FEE88F !important;
} 

.xfGrey{
	background-color: #bababa;
}

.xfHide{ 
	display: none; 
}

.xfTitle{ 
	font-size: 30px; 
	margin-bottom: 5px; 
	margin-top: 15px; 
	margin-left: 5px; 
	color: gold; 
}
       			
.xfTdTitle{ 
	color: gold; 
	font-size: 18px; 
}

.xfButton{ 
	margin-left: 8px; 
} 

.xfLabel{ 
	margin-right: 8px; 
}
			
.xfButtonDisabled {
	font-style: italic; 
	color:grey; 
	opacity:0.4
} 
 
#xfUnderTitle{ 
	font-size: 15px; 
	margin-left: 5px; 
	margin-top: 8px; 
	color: gold; 
}
	 
#xfMain{ 
	margin-top: 15px; 
	margin-left: 30px; 
	margin-bottom: 20px; 
}

#xfInput{
	display: block;
}

#xfDebug{
	color: gold;
	overflow:auto; 
	max-height:150px;
}

.mapGTooltip { 
	background-color: lightgreen !important;
}

[readonly].readonly.mapGTooltip { 
	background-color: lightgreen !important;
}
            
.mapPTooltip { 
	outline: 4px ridge pink !important; 
}			
			
#mapTable { 
	font-size: 11px; 
	color: #333333; 
	border-width: 1px;  
	border-color: #36752D;  
	border-collapse: collapse; 
	margin-bottom: 8px; 
	margin-top: 8px; 
}

#mapTable th { 
	border-width: 1px;  
	padding: 8px; 
	border-style: solid; 
	border-color: #275420; 
	background-color: #36752D; 
	color: #ffffff; 
}

#mapTable tr:nth-child(even) td{ 
	background-color: #DFFFDE;
}

#mapTable td { 
	border-width: 1px; 
	padding: 8px; 
	border-style: solid; 
	border-color: #36752D; 
	background-color: #ffffff; 
}